* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.generator-wrapper {
    width: 350px;
    height: 500px;
    padding: 10px;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.generator-title {
    font-size: 24px;
}

.generator-header {
    width: 280px;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generated-password {
    font-size: 16px;
    /* letter-spacing: 2px; */
    max-width: 215px;

    border: 0;
    outline: 0;
    /* TO-DO: dinamically adjust font-size and/or letter-spacing based on distance from icon */
}

.show-generated-password img, .hide-generated-password img, .copy-generated-password img {
    width: 25px;
}

.show-generated-password, .hide-generated-password {
    transform: translateY(-15%);
    margin-left: 5px;
}

.hide-generated-password {
    display: none;
}

.hide-generated-password-show {
    display: block;
}

.separator {
    height:0;
    width: 303px;
    justify-self: center;
    border: 1px solid #000;
}

.generator-option {
    width: 280px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generator-option-label {
    /* display: inline-block; */
    font-size: 14px;
}

.generator-option-label img {
    width: 15px;
    transform: translateY(15%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
}

.slider:before {
    content: "";
    position: absolute;
    background-color: white;
    width: 21px;
    height: 21px;
    left: 2px;
    bottom: 3px;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.switch input:checked + .slider {
    background-color: #2196F3;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

#btn-generate-password {
    width: 303px;
    height: 50px;
    margin-top: 30px;

    font-size: 24px;
    font-weight: 600;
}