* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.generator-wrapper {
    width: 350px;
    height: 500px;
    padding: 10px;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.generator-title {
    font-size: 24px;
}

.generated-password {

}

.copy-generated-password {
    width: 25px;
}